{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container">
    <div class="logincont">  
        <div class="loginimage">
            <img src="../../static/images/IG1.jpg " alt="instagram login phone ">
        </div>
        <div class="loginform">
            {% if form.errors %}
            <p > Password or Username incorrect </p>
            {% endif %}
            <div  class="panel panel-default">
                    <img src="../../static/images/instalogowhite.png" alt="signuplogo " style="width:260px; height:90px;margin: 5px auto; display: block;">
                 <div class="panel-body">
                    <h1><strong>You Are Signed Up</strong></h1>
                    <div style="margin-top: 19%" class="panel-heading">
                        <p class="_g9ean pull-left">Want to register an account?</p>
                        <a href="/accounts/register/" class="btn btn-primary btn-sm pull-right">Sign Up</a>
                    </div>
                    <div style="margin-top: 29%;" class="panel-heading">
                        <p class="_g9ean pull-left">Have an account?</p>
                        <a href="/accounts/login/" class="btn btn-primary btn-sm pull-right">Sign In</a>
                    </div>
                   
                 </div>

            </div>
            
            <div class="login-playstorebtn">
            
                <div class="googlebtn">
            
                    <a href="https://play.google.com/store/search?q=instagram"><img src="../../static/images/playstore.svg" alt="signuplogo " style="width:160px; height:46px "></a>
            
                </div>
            
                <div class="applebtn">
            
                    <a href="https://www.apple.com/us/search/instagram?src=itunes_serp"><img src="../../static/images/applestore.jpeg"  alt="signuplogo " style="width:160px; height:58px "></a>
                </div>
            
            </div>

        </div>
    </div>    
</div>
<p>© 2019 Mark Agimba. All rights reserved.</p> 
{% endblock %}


